# opmsg sample config

# 1, 2 or 3. Default is 2. The KDF in version=2 is hardened against evil maid attacks.
# Only use version=2 if you know your peer uses opmsg >= 1.60 that can handle version=2.
# Your peer then automatically chooses right version. Theres no config change needed
# for your peer.
version=2

# should use long format to avoid loading of whole keystore. Also see 'linking personas'
# in README. It is recommended to use different ID for each communication peer.
my_id = 50973f3cfc3e0f3f1a7d4047aa6fa7645510f3b4ddc486a4b72bcacdf3aad570

# default
rsa_len = 4096

# default
dh_plen = 2048

# default
calgo = aes128gcm

idformat = split

new_dh_keys = 3

# EC curve to be used for EC personas. Default. 
# Other choices: secp521r1 (be aware: NIST curve!), brainpoolP320t1, brainpoolP384r1,
# brainpoolP384t1, brainpoolP512r1, brainpoolP512t1, secp256k1, secp384r1,
# sect283k1, sect283r1, sect409k1, sect409r1, sect571k1, sect571r1
curve = brainpoolP320r1

# Use EC session keys for RSA personas. Default off.
#ecdh-rsa

# Check on decrypt whether the sender (src-id) used a kex-id that was once sent to him
# as a dst-id.
# This allows you detect cross-references for people using different src personas to
# to contact a single persona of yours. This way you can detect/enforce isolation.
# By default its disabled.
peer_isolation=1

